.footer-bg {
    background-color: #00203FFF;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .social-links a:hover {
    color: #ADEFD1FF;
    transition: color 0.5s;
  }
  